table{
  display:block;
  background-color: black;
  margin-top: 10px;
}

.web-logo {
  margin-left: 20px;
}

#title{
  color:white;
  padding-left: 20px;
}

body {
  background-color: black;
}

h1, h2 {
  color: red;
}

#content-close {
  cursor: pointer;
  font-size: small;
  position: absolute;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  left: 10px;
  color: white;
}

.noTrailer {
  color: white;
  margin-left: 50px;
}

#input {
    width: 700px;
    font-size: 20px;
}

#searchBtn {
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
    border-radius: 5px;
  }

  .webTop {
    padding: 20px;
  }
  
  #searchBtn:hover {
    background-color: white;
    color: black;
  }

  #moviesSearch {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .movies {
    margin-bottom: 50px;
  }
  
  h2 {  
    margin-left: 20px;
  } 

  section {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-left: 20px;
  }

  section img {
    width: 100%;
    height: auto;
    transition: 300ms all;
    margin-bottom: 30px;
  }

  img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
  }

  .content {
    border: 1px solid #5d5d5d;
    display: none;
    position: relative;
    width: 100%;
  }

  .content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
  }

  .content-display {
    display: block;
  }

  #footer{
    line-height: 25px;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
    background-color:grey;
    color:white;
  }